:root {
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #02082c;
    --background: #eceefe;
    --primary: #290566;
    --secondary: #f4c0fc;
    --accent: #c70ce4;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d3d9fd;
    --background: #010313;
    --primary: #bc99fa;
    --secondary: #37033f;
    --accent: #d61bf3;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-roboto);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}